
.topnav {
  background-color: #80D8EB;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #0A809A;
  color: #fff;
}

